// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.dot {
    height: 8px;
    width: 8px;
    margin-right: 8px;
    background-color: #3490dc;
    border-radius: 50%;
    display: inline-block;
}

.card {
    min-height: 180px;
}
.breadcrumb {
    background-color: unset;
}

